.chat-box-wrapper
{
    position: fixed;
    height: 325px;
    width: 250px;
    left: 5px;
    bottom: 0px;
    z-index: 100;
}

.chat-box-top
{
    background-color: #222222;
    width: 100%;
    height: 10%;
    border-color: #202020;
    border-style: ridge;
    border-bottom-style: none;
    border-width: 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.chat-box-body
{
    height: 80%;
    width: 100%;
    background-color: #AAAAAA;
    border-style: ridge;
    border-width: 4px;
    border-color: #505050;
    border-bottom-style: none;
    border-top-style: none;
    overflow-y: auto;
}

.chat-box-body::-webkit-scrollbar
{
	width: 3px;
	background: transparent;
}

.chat-box-body::-webkit-scrollbar-button
{
    width: 0px;
    height: 0px;
}

.chat-box-body::-webkit-scrollbar-thumb
{
    background-color: #000055;
    border: none;
    border-radius: 3px;
}

.chat-box-body::-webkit-scrollbar-track
{
    background: transparent;
}

.chat-box-bottom
{
    background-color: #CCCCCC;
    width: 100%;
    height: 10%;
    border-style: ridge;
    border-width: 4px;
    border-color: #000077;
    border-bottom-style: none;
    border-top-style: none;
}

.chat-box-message-wrapper
{
    height: 85%;
    background: #CCCCCC;
    margin: 5px;
    overflow-y: scroll;
}

.chat-box-input-wrapper
{
    text-align: center;
}

.chat-box-input
{
    width: 60%;
}

.chat-box-select-button
{
    width: 95%;
    margin: 4px auto;
    background-color: #009999;
    text-align: center;
    padding: 5px 0px;
    border-style: ridge;
    border-width: 3px;
    border-color: #007777;
    cursor: pointer;
}

.chat-box-select-button:hover
{
    background-color: #00BBBB;
    border-color: #009999;
}

.chat-box-select-button a
{
    font-weight: bold;
    font-size: 1.2em;
}

.chat-box-settings-button
{
    height: 100%;
    width: 20%;
    position: absolute;
    right: 5px;
    top: 0px;
    text-align: right;
    z-index: 101;
}

.chat-box-settings-button-image
{
    height: 100%;
    padding: 2px;
}

.chat-box-title
{
    height: 100%;
}

.chat-box-title a
{
    line-height: 100%;
    vertical-align: middle;
    padding: 0px 5px;
    color: #FFFFFF;
}

.chat-box-input-wrapper
{
    width: 100%;
    height: 100%;
}

.chat-box-text-input
{
    margin: 5px 2.5%;
    width: 70%;
    vertical-align: middle;
}

.chat-box-send-button
{
    margin: 5px 2.5%;
    width: 20%;
    vertical-align: middle;
}

.chat-box-single-message, .chat-box-single-message-you
{
    width: 98%;
    margin: 2px auto;
    background-color: #009999;
    padding: 2px;
    border-radius: 5px;
}

.chat-box-single-message th, .chat-box-single-message-you th
{
    text-align: right;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.6);
}

.chat-box-single-message-you th
{
    text-align: left;
}

.chat-box-single-message th a, .chat-box-single-message td a, .chat-box-single-message-you th a, .chat-box-single-message-you td a
{
    font-size: 0.8em;
}

.chat-box-single-message-you
{
    background-color: #E2C600;
}

.chat-box-error-message
{
    width: 100%;
    padding: 2px;
    background-color: rgba(255, 0, 0, 0.5);
}

.chat-box-error-message a
{
    font-weight: bold;
    font-size: 1.2em;
}