<?
data = include("../resources/util/ejs/data", {base: '..'});
?>
<!DOCTYPE html>
<html>
	<head>
        <?-
        include(data.ejs.utilities + "/head", {data: data, title: title});
        ?>
	</head>
	<body>
		<ul id="navbar">
			<li><a href="/">CSGOMeme</a></li>
			<li><a href="#">About</a></li>
			<li><a href="/deposit">Deposit</a></li>
			<li><a href="#">Something Else</a></li>
			<li style="float: right;">
				<?
				if(user)
				{
				?>
				<a>
					<img src="<?= user.avatar ?>">
					<b style="text-align:center"><?- user.displayName ?></b>
					<span class="caret"></span>
				</a>
				<?
				}
				else
				{
				?>
				<a href="/auth/steam">
					<img src="/resources/images/steam_login.png">
				</a>
				<? } ?>
			</li>
		</ul>
		<p>
			Select which items you would like to deposit.
		</p>
		<button>Refresh</button>
		<div id="table-content">
			<h1><?= user.inventory ?></h1>
			<table id="item-table">
		<? 
				if(user)
				{
					if(user.inventory){
						if(user.inventory.success == 1){
							var counter = 0;
							?>
							<tr>
						<? for(item in user.inventory.rgDescriptions){
								if(item.tradable == 1){
									//number of elements per row
									if(counter <= 6){ ?>
										<td>
											<img class='weapon-icon' src="http://cdn.steamcommunity.com/economy/image/"<?= item.icon_url ?>>
											<b> <?= item.market_name ?></b>
										</td>
										<?counter ++;
									}
									else{ ?>
										</tr><tr>
										<? counter = 0;
									}
								}
							}
							?> </tr> <?
						} 
					}	
				}
				else
				{
            ?>
            <h1>NO USER</h1>
            <?
            }
            ?> 
			</table>
		</div>
		
	</body>
</html>
