<?
data = include("../resources/util/ejs/data", {base: '..'});
?>
<!DOCTYPE html>
<html>
	<head>
        <?-
        include(data.ejs.utilities + "/head", {data: data, title: title});
        ?>
	</head>
	<body>
		<ul id="navbar">
			<li><a href="/">CSGOMeme</a></li>
			<li><a href="#">About</a></li>
			<li><a href="/deposit">Deposit</a></li>
			<li><a href="#">Something Else</a></li>
			<li style="float: right;">
				<?
				if(user)
				{
				?>
				<div id="userInfo">
					<ul>
						<li>
							<img src="<?= user.avatar ?>">
						</li>
						<li>
							<h1 style="text-align:center"><?- user.displayName ?></h1>
						</li>
					</ul>
				</div>
				<?
				}
				else
				{
				?>
				<a href="/auth/steam">LOGIN</a>
				<? } ?>
			</li>
		</ul>
		<p>
			Select which items you would like to deposit.
		</p>
	</body>
</html>
