<?
data = include("../resources/util/ejs/data", {base: '..'});
?>
<!DOCTYPE html>
<html>
	<head>
        <?-
        include(data.ejs.utilities + "/head", {data: data, title: title});
        ?>
	</head>
	<body>
        <?
        if(user)
        {
        ?>
        <h1 style="text-align:center"><?- user.displayName ?></h1>
        <?
        }
        else
        {
        ?>
		<h1 style="text-align:center">
			<a href="/auth/steam">LOGIN</a>
		</h1>
		<h1 style="text-align:center">
			<a href="/something">SOMETHING</a>
		</h1>
        <? } ?>
	</body>
</html>
