<?
data = include("../resources/util/data", {base: '..'});
?>
<!DOCTYPE html>
<html>
	<head>
        <?-
        include(data.ejs.utilities + "/head", {data: data});
        ?>
	</head>
	<body>
		<h1 style="text-align:center">
			<a href="/auth/steam">LOGIN</a>
		</h1>
	</body>
</html>
