<!DOCTYPE html>
<html>
	<head>
		<title><?= title ?></title>
	</head>
	<body style="background: #EEEEEE">
		<div style="width:100?;max-width:1000px;margin:0px auto;">
            <img src="<?= user._json.avatarfull ?>">
		</div>
	</body>
</html>